AWS_GAME_FILES_BUCKET_NAME=<name_of_bucket>
AWS_GAME_IMAGES_BUCKET_NAME=<name_of_image_bucket>
AWS_USER_PROFILE_IMAGE_BUCKET_NAME=<name_of_user_profile_images_bucket>
MY_AWS_ACCESS_KEY=<aws_access_key>
MY_AWS_SECRET_KEY=<aws_secret_key>

MYSQL_DATABASE_DB_NAME=<connection_url+database_name>
MYSQL_DATABASE_PASSWORD=<password>
MYSQL_DATABASE_USERNAME=<user>

REDIS_HOST_URL=<url>
REDIS_PORT=<port>