AWS_GAME_FILES_BUCKET_NAME=
AWS_GAME_IMAGES_BUCKET_NAME=
AWS_USER_PROFILE_IMAGE_BUCKET_NAME=

MY_AWS_ACCESS_KEY=
MY_AWS_SECRET_KEY=

MYSQL_DB_NAME=
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_USERNAME=
MYSQL_ROOT_PASSWORD=

BACKEND_HOST_PORT=
MYSQL_HOST_PORT=
REDIS_HOST_PORT=

ADMIN_CLIENT_HOST_PORT=
VITE_API_URL=
